.telegram-img img, .Facebook-img img, .YouTube-img img, .Instagram-img img {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.telegram-img img {
    top: 94%;
    left: 90%;
}

.Facebook-img img {
    top: 1%;
    left: 90%;
}

.YouTube-img img {
    top: 94%;
    left: 11%;
}

.Instagram-img img {
    top: 1%;
    left: 11%;
    width: 80px;
    height: 80px;
}


.tci-card .tci-image {
  position: absolute;
  bottom: 0px;
  right: 74px;
  display: none;
  height: auto; /* Default height */
  transition: all 0.3s ease-in-out; /* Smooth transition for changes */
}

@media (min-width: 768px) {
  .tci-card .tci-image {
    display: block;
    right: 0;
    width: 300px;
    height: 200px; /* Set specific height */
  }
}

@media (min-width: 992px) {
  .tci-card .tci-image {
    right: 74px;
    width: inherit;
    height: 400px; /* Adjust height for larger screens */
  }
}



.hh-img-cover {
  position: absolute;
  bottom: 0;
  right: 74px;
  display: none;
  height: auto; /* Default height */
  transition: all 0.3s ease-in-out; /* Smooth transition for changes */
}

@media (min-width: 768px) {
  .hh-img-cover {
    display: block;
    right: 0;
    width: 300px;
    height: 200px; 
  }
}

@media (min-width: 992px) {
  .hh-img-cover {
    right: 50px;
    width: inherit;
    height: 550px;
  }
}

.hh-img-cover img {
  width: 120%;
  height: 100%; 
  object-fit: cover;
}
